@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&family=Nunito+Sans:wght@300;400;600;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --primary: #e99b1d;
    --light: #ffff;
    --dark: #000;

    --transition: .4s linear;
}

body {
    font-family: 'Nunito Sans', sans-serif;
    line-height: 1.6;
    font-size: 16px;
    background-image: linear-gradient(rgba(0,0,0,0.9), rgba(0,0,0,0.9)), url(../img/bg3.jpg);
    background-position: cover;
    background-size: cover;
    background-position: fixed;
}

h1, h1, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
    text-shadow: 1px 3px rgba(0, 0, 0, 0.2);
}

.py-5 {
    padding-top: 100px !important;
}

img {
    width: 100%;
}

/* Navbar */

nav {
    padding: 20px 0;
    transition: .5s all;
    position: fixed;
}

.navbar-nav {
    --bs-nav-link-padding-y: 0rem !important;
}


.navbar-brand {
    font-size: 2rem;
    color: var(--primary);
    transition: var(--transition);
}

.navbar-brand img {
    width: 60px;
}

.nav-link {
    text-transform: uppercase;
    letter-spacing: 1px;
    color: var(--light);
    transition: var(--transition);
}

.nav-link:hover {
    color: var(--primary);
}

.navbar-toggler {
    padding: 2px 7px;
    background: var(--light);
}



.stickyAdd {
    background: var(--primary);
    padding: 15px;
}

.stickyAdd .nav-link:hover {
    color: var(--dark);
}




/* header */

header {
    height: 100vh;
    background-image:linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(../img/bg1.jpg);
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


header h1 {
    font-size: 3rem;
    color: var(--primary);
    text-shadow: 1px 4px rgba(0, 0, 0, 0.2);
    
}

header h4 {
    font-size: 1.5rem;
}

.element {
    color: var(--light);
    font-size: 2.5rem;
}

.developer {
    font-size: 1.8rem;
    color: var(--primary);

}

/* About me */
#aboutMe a {
    color: white;
    font-size: 40px;
    margin-right: 25px;
    transition: var(--transition);
}

#aboutMe a:hover {
    color: var(--primary);
}
