@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&family=Nunito+Sans:wght@300;400;600;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --primary: rgb(233, 155, 29);
    --light: #ffff;
    --dark: #000;

    --transition: .4s linear;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Nunito Sans', sans-serif;
    line-height: 1.6;
    font-size: 16px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(../img/bg3.jpg);
    background-position: cover;
    background-size: cover;
    background-position: fixed;
}

h1,
h1,
h3,
h4,
h5,
h6 {
    font-family: 'Montserrat', sans-serif;
    text-shadow: 1px 3px rgba(0, 0, 0, 0.2);
}

.btnn {
    width: 180px;
    padding: 15px 30px;
    border: 2px solid var(--light);
    border-radius: 50px;
    color: var(--light);
    transition: var(--transition);
    text-decoration: none;
}

.btnn:hover {
    background-color: var(--light);
    color: var(--dark);
}

.py-5 {
    padding: 100px 0 !important;
}

.bg-purple {
    background:#7611f6;
}

.text-purple {
    color:#7611f6;
}

.text-pink {
    color: #cd6799;
}

/* Navbar */

nav {
    padding: 20px 0;
    transition: .5s all;
    position: fixed;
}

.navbar-nav {
    --bs-nav-link-padding-y: none !important;
}


.navbar-brand {
    font-size: 2rem;
    color: var(--primary);
    transition: var(--transition);
}

.navbar-brand img {
    width: 60px;
}

.nav-link {
    text-transform: uppercase;
    letter-spacing: 1px;
    color: var(--light);
    transition: var(--transition);
}

.nav-link:hover {
    color: var(--primary);
}

.navbar-toggler {
    padding: 2px 7px;
    background: var(--light);
}



.stickyAdd {
    background: var(--primary);
    opacity: 0.9;
}

.stickyAdd .nav-link:hover {
    color: var(--dark);
}




/* header */

header {
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/bg1.jpg);
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


header h1 {
    font-size: 3rem;
    color: var(--primary);
    text-shadow: 1px 4px rgba(0, 0, 0, 0.2);

}

header h4 {
    font-size: 1.5rem;
}

.element {
    color: var(--light);
    font-size: 2.5rem;
}

.developer {
    font-size: 1.8rem;
    color: var(--primary);

}

/* About me */
#aboutMe a {
    color: white;
    font-size: 40px;
    margin-right: 25px;
    transition: var(--transition);
}

#aboutMe a:hover {
    color: var(--primary);
}

/* Services */
#services {
    background-color: rgba(233, 150, 29, .7);
}

#services .card {
    background: var(--dark);
    color: var(--light);
    padding: 40px 30px;
    border: 2px solid var(--primary);
}

#services i {
    font-size: 2.5rem;
    color: var(--primary);
}

#services h5::after {
    content: '';
    display: block;
    height: 2px;
    width: 70px;
    background: var(--primary);
    margin: 15px auto;
}

/* To Top */

.toTop.toTopAdd {
    bottom: 32px;
    pointer-events: auto;
    opacity: 1;
    z-index: 98;
}

.toTop {
    position: fixed;
    bottom: 16px;
    right: 32px;
    pointer-events: none;
    opacity: 0;
    transition: var(--transition);
}

.toTop i {
    color: var(--light);
    font-size: 40px;
}

.toTop i:hover {
    color: var(--primary);
    transition: var(--transition);
}

/* Texhnologies */
#technologies {
    background-color: rgba(233, 150, 29, .7);
}

#technologies i {
    font-size: 160px;
    margin-bottom: 15px;
}

/* Portfolio */
#portfolio .alex {
    margin-left: 4px;
}


/* Responsive for mobile phones */

@media screen and (max-width: 576px) {

    /* About me */
    .xs-flexDir {
        flex-direction: column-reverse;
        text-align: center;
    }

    #aboutMe img {
        margin-top: 30px;
    }

    /* My services */
    .xsAboutMe div:nth-child(2) {
        margin: 20px 0;
    }

    #services {
        background-color: rgba(233, 150, 29);
    }

    /* Experiance */
    #technologies {
        background-color: rgba(233, 150, 29);
    }

    #experience h2 {
        text-align: center;
        margin-bottom: 30px;
    }

    /* Portfolio */
    #portfolio .row .btn {
        margin-top: 20px;
    }

    #portfolio .alex {
        padding-right: 0 !important;
    }

    

}